
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #060614;
    color: #f2f2f2;
}

.race-track {
    width: 1000px;
    height: 300px;
    /* Increased height to accommodate 6 rows */
    background-color: #7b7b7b;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    animation: moveTrack 10s linear infinite;
}

.lane {
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #ffffff;
    border-width: 5px;
}

.car {
    width: 50px;
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.car:nth-child(1) {
    top: 10%;
}

.car:nth-child(2) {
    top: 25%;
}

.car:nth-child(3) {
    top: 40%;
}

.car:nth-child(4) {
    top: 55%;
}

.car:nth-child(5) {
    top: 70%;
}

.car:nth-child(6) {
    top: 85%;
}

@keyframes moveCar {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 20px);
    }
}

.race-info {
    margin-top: 20px;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
thead{
    background: #5a0101;
    color: #fff;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}



.start-line {
    position: absolute;
    width: 10px;
    height: 100%;
    background: #ffffff;
}

.end-line {
    position: absolute;
    width: 10px;
    height: 100%;
    background: #931414;
}

.start-line {
    left: 0;
}

.end-line {
    right: 0;
}
